  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "off", class: "wide" %>
  </div>

  <%# TODO need to outsource this styling %>
  <img id="url_pic_replace" style="max-width: 100%;"></img>

  <div class="field">
    <%= f.label :pic, "Profile Picture (URL)" %><br />
    <%= f.text_field :pic, onchange: "$set_pic_src( this, '#url_pic_replace')", autocomplete: "off", class: "wide" %>
  </div>

  <hr/>

  <div class="field">
    <%= f.label :password %> <% if edit ||= nil %><i>(leave blank if you don't want to change it)</i><br /><% end %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
