<h1>Listing All Yard Sales</h1>

<table class="standard">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Zip</th>
      <th>Address</th>
      <th>Community</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yard_sales.each do |yard_sale| %>
      <tr>
        <td><%= yard_sale.start_txt %></td>
        <td><%= yard_sale.end_txt %></td>
        <td><%= yard_sale.zip %></td>
        <td><%= yard_sale.address %></td>
        <td><%= yard_sale.community_id %></td>
        <td><%= link_to yard_sale.user.name, user_yard_sales_path(yard_sale.user) %></td>
        <td><%= link_to 'Show', yard_sale %></td>
        <td><%= link_to 'Edit', edit_yard_sale_path(yard_sale) %></td>
        <td><%= link_to 'Destroy', yard_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yard Sale', new_yard_sale_path %>
