<p id="notice"><%= notice %></p>

<h1>Yard Sale (<%= pluralize(@yard_sale.items.count, 'item') %>)</h1>

<h2><%= pretty_print_time(@yard_sale) %></h2>

<p>
  <strong>Zip:</strong>
  <%= @yard_sale.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @yard_sale.address %>
</p>

<p>
  <strong>Community:</strong>
  <%= @yard_sale.community_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @yard_sale.user.name %>
</p>

<%= render(partial: 'items/table') %>

<br/>

<%= link_to 'Edit', edit_yard_sale_path(@yard_sale) if can?(:edit, @yard_sale) %> |
<%= link_to 'Delete this Yard Sale', @yard_sale, method: :delete,
            data: { confirm: 'Are you sure? This is permanent and will delete the items in this sale, too!' } if can?(:destroy, @yard_sale) %>
<%= link_to 'Back', yard_sales_path %>
