<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(partial: 'devise/registrations/shared', locals: { f: f }) %>

  <hr/>

  <div class="field">
    <%= f.check_box :is_manager %>
    <%= f.label :is_manager, 'Manager status' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
