<p id="notice"><%= notice %></p>

<h1><%= @item.title %></h1>

<%= image_tag @item.pic, style: "max-width:100%;" %>

<p>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price_txt %>
</p>

<p>
  <strong>Advertise on YardSard for only:</strong>
  <%= @item.ad_price_txt || "(not yet available)" %>
</p>

<p>
  <strong>Available at:</strong>
  <%= link_to @item.yard_sale.select_description, yard_sale_path(@item.yard_sale_id) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) if can?(:edit, @item) %> |
<%= link_to 'Back', items_path %>
