<!DOCTYPE html>
<html>
<head>
  <title>YardSard</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,500" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to root_path do %><h1 id='site-title'>Yard Sard</h1><% end %>
  &emsp;
  <%= form_tag( search_page_path, method: :post ) do %>
    <%= text_field_tag :q, nil, placeholder: 'Try a ZIP code or an item description', style: 'width:220px;', autocomplete: 'off' %>
    <%= submit_tag :search %>
  <% end %>
  <div class='right-side'>
    <% if user_signed_in? %>
      <h4><%= link_to "Manage Users", users_path if can? :manage, User %>
        &emsp;
        <%= link_to "My Sales", user_yard_sales_path(current_user) %> |
        <%= link_to "Add an Item", new_item_path %>
        &emsp;&emsp;
        <%= link_to "All Sales", yard_sales_path %> |
        <%= link_to "All Items", items_path %>
        &emsp;&emsp;
        <%= link_to "My Account", edit_user_registration_path %> |
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </h2>
    <% else %>
      <h4><%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %></h2>
    <% end %>
  </div>
</header>
<div id='under-header-padding'></div>
<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>
<%= content_for?(:main) ? yield(:main) : yield %>

</body>
</html>
